---
- name: Setup macOS development environment
  hosts: all

  pre_tasks:
    - name: Create sudo askpass helper script
      ansible.builtin.copy:
        dest: /tmp/ansible-askpass.sh
        mode: '0700'
        content: |
          #!/bin/sh
          echo "{{ lookup('env', 'ANSIBLE_BECOME_PASS') }}"

    - name: Configure system PATH variable
      ansible.builtin.lineinfile:
        path: /etc/paths
        line: '/usr/local/sbin'
        insertbefore: '/usr/sbin'
      become: true

    - name: Configure system hostname
      ansible.builtin.hostname:
        name: "{{ ansible_user_id }}-mac"
      become: true

  roles:

    - brew
    - git
    - vim
    - java
    - node
    - ruby
    - golang
    - kotlin
    - clojure
    - python
    - iac
    - system
    - keyboard
    - docker
    - terminal
    - security
    - ai
    - media
    - design
    - internet
    - development
    - productivity
    - ios

  post_tasks:

    - name: Configure homebrew share directory permissions
      ansible.builtin.file:
        path: "{{ brew_brew_path.stdout | trim }}/share"
        owner: "{{ ansible_user_id }}"
        recurse: true
        mode: '0755'
      become: true

    - name: Remove sudo askpass helper script
      ansible.builtin.file:
        path: /tmp/ansible-askpass.sh
        state: absent
