- name: Install IntelliJ
  homebrew_cask: name=intellij-idea

- name: Install 1Password password manager
  homebrew_cask: name=1password

- name: Install postman
  homebrew_cask: name=postman

- name: Install MySQL Workbench for working with MySQL
  homebrew_cask: name=mysqlworkbench

- name: Install TablePlus database management tool
  homebrew_cask: name=tableplus

- name: Install miro collaboration whiteboard
  homebrew_cask: name=miro

- name: Install Alfred productivity utility
  homebrew_cask: name=alfred

- name: Install Dropbox for online storage
  homebrew_cask: name=dropbox

- name: Install mounty for NTFS volumes
  homebrew_cask: name=mounty

- name: Install The Unarchiver
  homebrew_cask: name=the-unarchiver

- name: Install App Cleaner
  homebrew_cask: name=appcleaner

- name: Install flycut clipboard manager
  homebrew_cask: name=flycut

- name: Install Disk Inventory X
  homebrew_cask: name=disk-inventory-x

- name: Install lastpass password manager
  homebrew_cask: name=lastpass

- name: Install clocker timezone menu
  homebrew_cask: name=clocker

- name: Install Stopwatch, alarm clock, and clock utility
  homebrew_cask: name=timer

- name: Install Wireshark packet analyzer
  homebrew_cask: name=wireshark
