- name: Install pyenv
  community.general.homebrew:
    name: pyenv

- name: Install Python 3.10 with pyenv
  ansible.builtin.shell: |
    eval "$(~/.pyenv/bin/pyenv init - zsh)"
    pyenv install 3.10 || pyenv install --skip-existing 3.10
  args:
    executable: /bin/zsh
  environment:
    PYENV_ROOT: "{{ ansible_env.HOME }}/.pyenv"
    PATH: "{{ ansible_env.HOME }}/.pyenv/bin:{{ ansible_env.PATH }}"

- name: Add pip3 as pip and configure pyenv to .zshrc
  ansible.builtin.blockinfile:
    create: true
    path: ~/.zshrc
    marker: "# {mark} ANSIBLE MANAGED BLOCK FOR PYTHON"
    mode: "0644"
    block: |
      alias pip=pip3
      alias python=python3

      export PYENV_ROOT="$HOME/.pyenv"
      [[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
      eval "$(pyenv init - zsh)"

- name: Install python
  community.general.homebrew:
    name: python

- name: Install python-packaging
  community.general.homebrew:
    name: python-packaging

- name: Install pipx
  community.general.homebrew:
    name: pipx

- name: Install vim plugin
  ansible.builtin.git:
    repo: "{{ item.repo }}"
    dest: "~/.vim/bundle/{{ item.dest }}"
    force: true
  with_items:
    - {repo: "https://github.com/Vimjas/vim-python-pep8-indent.git", dest: vim-python-pep8-indent}
