- name: Install newer bash
  community.general.homebrew:
    name: bash

- name: Install ohmyzsh shell experience
  ansible.builtin.shell: /bin/sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
  args:
    creates: ~/.oh-my-zsh

- name: Setup ohmyzsh theme
  ansible.builtin.lineinfile:
    path: ~/.zshrc
    regexp: '^(.*)ZSH_THEME="(.*)"$'
    line: 'ZSH_THEME="gnzh"'
    backrefs: true

- name: Install jq command-line JSON processor
  community.general.homebrew:
    name: jq

- name: Install yq XML/YAML query procesor
  ansible.builtin.pip:
    name: yq

- name: Install XmlStarlet XML toolkit
  community.general.homebrew:
    name: xmlstarlet

- name: Install docutils for processing documentation
  ansible.builtin.pip:
    name: docutils

- name: Install python-json2csv for JSON to CSV
  ansible.builtin.pip:
    name: python-json2csv

- name: Install cloc lines of code utility
  community.general.homebrew:
    name: cloc

- name: Install scc code counter
  community.general.homebrew:
    name: scc

- name: Install petname command line name generator
  ansible.builtin.pip:
    name: petname

- name: Install core GNU utilities
  community.general.homebrew:
    name: coreutils

- name: Install GNU implementation of sed
  community.general.homebrew:
    name: gnu-sed

- name: Install tool for working with Architecture Decision Records
  community.general.homebrew:
    name: adr-tools

- name: Install git-quick-stats
  community.general.homebrew:
    name: git-quick-stats

- name: Install GitHub tools
  community.general.homebrew:
    name: gh,git-lfs,git-filter-repo,bfg

- name: Install zsh-completions
  community.general.homebrew:
    name: zsh-completions

- name: Setup zsh-completions
  ansible.builtin.blockinfile:
    create: true
    path: ~/.zshrc
    marker: "# {mark} ANSIBLE MANAGED BLOCK (BASH_COMPLETION)"
    mode: "0644"
    block: |
      if type brew &>/dev/null; then
      FPATH=$(brew --prefix)/share/zsh-completions:$FPATH

      autoload -Uz compinit
      compinit
      fi

- name: Install tmux terminal multiplexer
  community.general.homebrew:
    name: tmux

- name: Setup tmux
  ansible.builtin.blockinfile:
    create: true
    path: ~/.tmux.conf
    mode: "0644"
    block: |
      bind c new-window -c "#{pane_current_path}"
      bind '"' split-window -c "#{pane_current_path}"
      bind % split-window -h -c "#{pane_current_path}"

- name: Start tmux by default in Terminal.app
  ansible.builtin.blockinfile:
    path: ~/.zshrc
    marker: "# {mark} ANSIBLE MANAGED BLOCK (tmux start)"
    block: |
      TERM=xterm &&
      if [ "$TMUX" = "" ]; then tmux; fi

- name: Install Midnight Commander command line file manager
  community.general.homebrew:
    name: midnight-commander

- name: Install icdiff side-by-side diff tool
  community.general.homebrew:
    name: icdiff

- name: Install telnet
  community.general.homebrew:
    name: telnet

- name: Install HTTPie cURL wrapper
  ansible.builtin.command: brew install httpie

- name: Install watch for repeating command line commands
  community.general.homebrew:
    name: watch

- name: Install topgrade upgrade manager
  community.general.homebrew:
    name: topgrade

- name: Install letsencrypt SSL certificate command line tools
  community.general.homebrew:
    name: certbot

- name: Install htop for process monitoring
  community.general.homebrew:
    name: htop

- name: Install iftop for network monitoring
  community.general.homebrew:
    name: iftop

- name: Install NCurses Disk Usage utility
  community.general.homebrew:
    name: ncdu

- name: Install traceroute for network diagnostics
  community.general.homebrew:
    name: tcptraceroute
