- name: Install libpq PostgreSQL client
  community.general.homebrew:
    name: libpq

- name: Query libpq installation path
  ansible.builtin.command: brew --prefix libpq
  register: development_tools_psql_client_path
  changed_when: false

- name: Configure libpq PATH variable
  ansible.builtin.blockinfile:
    create: true
    path: ~/.zshrc
    marker: "# {mark} ANSIBLE MANAGED BLOCK FOR PSQL"
    mode: "0644"
    block: |
      export PATH="{{ development_tools_psql_client_path.stdout_lines[0] | regex_replace('^/+', '/') }}/bin:$PATH"

- name: Install wireshark packet analyzer
  community.general.homebrew_cask:
    name: wireshark
    state: present
  environment:
    SUDO_ASKPASS: /tmp/ansible-askpass.sh

- name: Install postman API testing tool
  community.general.homebrew_cask:
    name: postman

- name: Install tableplus database management tool
  community.general.homebrew_cask:
    name: tableplus

- name: Install dbvisualizer database tool
  community.general.homebrew_cask:
    name: dbvisualizer

- name: Install plantuml CLI diagramming tool
  community.general.homebrew:
    name: plantuml

- name: Install plantuml-syntax vim plugin
  ansible.builtin.git:
    repo: https://github.com/aklt/plantuml-syntax.git
    dest: ~/.vim/bundle/plantuml-syntax
    force: true

- name: Install mermaid-cli diagramming tool
  community.general.homebrew:
    name: mermaid-cli

- name: Configure mermaid-cli to use Google Chrome
  ansible.builtin.blockinfile:
    create: true
    path: ~/.zshrc
    marker: "# {mark} ANSIBLE MANAGED BLOCK FOR MERMAID-CLI"
    mode: "0644"
    block: |
      export PUPPETEER_EXECUTABLE_PATH="/Applications/Google Chrome.app/Contents/MacOS/Google Chrome"

- name: Install semgrep static analysis tool
  community.general.homebrew:
    name: semgrep

- name: Install cloc code metrics tool
  community.general.homebrew:
    name: cloc

- name: Install scc code counter tool
  community.general.homebrew:
    name: scc

- name: Install adr-tools architecture decision record tool
  community.general.homebrew:
    name: adr-tools

- name: Install httpie HTTP client
  community.general.homebrew:
    name: httpie
    state: present

- name: Install watchman file watching service
  community.general.homebrew:
    name: watchman

- name: Add Snyk homebrew tap
  community.general.homebrew_tap:
    name: snyk/tap

- name: Install Snyk CLI
  community.general.homebrew:
    name: snyk-cli

- name: Add Atlassian homebrew tap
  community.general.homebrew_tap:
    name: atlassian/homebrew-acli

- name: Install Atlassian CLI
  community.general.homebrew:
    name: acli

- name: Install Cross-platform make
  community.general.homebrew:
    name: cmake

- name: Add Luca Grulla homebrew tap for cw
  community.general.homebrew_tap:
    name: lucagrulla/tap

- name: Install cw AWS CloudWatch Logs tailer
  community.general.homebrew:
    name: cw
