- name: Install Docker Desktop
  community.general.homebrew_cask:
    name: docker
    state: present

- name: Install additional docker packages
  community.general.homebrew:
    name: docker-compose,docker-credential-helper
