- name: Install vim text editor
  community.general.homebrew:
    name: vim

- name: Setup paths for vim
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  with_items:
    - ~/.vim/autoload
    - ~/.vim/bundle
    - ~/.vim/ftplugin

- name: Install pathogen vim plugin/configuration manager
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/tpope/vim-pathogen/master/autoload/pathogen.vim
    dest: ~/.vim/autoload/pathogen.vim
    mode: "0644"

- name: Install vim plugin
  ansible.builtin.git:
    repo: "{{ item.repo }}"
    dest: "~/.vim/bundle/{{ item.dest }}"
    force: true
  with_items:
    - {repo: "https://github.com/lambdalisue/vim-fern.git", dest: vim-fern}
    - {repo: "https://github.com/lambdalisue/vim-fern-git-status.git", dest: vim-fern-git-status}
    - {repo: "https://github.com/lambdalisue/vim-fern-hijack.git", dest: vim-fern-hijack}
    - {repo: "https://github.com/junegunn/fzf.git", dest: fzf}
    - {repo: "https://github.com/ntpeters/vim-better-whitespace.git", dest: vim-better-whitespace}
    - {repo: "https://github.com/airblade/vim-gitgutter.git", dest: vim-gitgutter}
    - {repo: "https://github.com/plasticboy/vim-markdown.git", dest: vim-markdown}
    - {repo: "https://github.com/github/copilot.vim.git", dest: copilot}
    - {repo: "https://github.com/junegunn/vader.vim.git", dest: vader}

- name: Update .vimrc
  ansible.builtin.blockinfile:
    create: true
    path: ~/.vimrc
    marker: "\" {mark} ANSIBLE MANAGED BLOCK"
    mode: "0644"
    block: |
      execute pathogen#infect()
      syntax on
      filetype plugin indent on
      :set tabstop=2
      :set shiftwidth=2
      :set backspace=indent,eol,start
      :set expandtab
      :set nobackup
      :set noswapfile
      let $FZF_DEFAULT_COMMAND = 'find . -type f -not -path "*/\.git/*" -not -path "*/__pycache__/*" -not -path "*/.mypy_cache/*" -not -path "*/node_modules/*" -not -path "*/.gradle/*" -not -path "*/build/*" -not -path "*/.idea/*" -not -path "*/target/*" -not -path "*/.yarn/*" -not -path "*/.next/*" -not -path "*/dist/*" -not -path "*/coverage/*" -not -path "*/.jest/*" -not -path "*/.eslintcache/*" -not -path "*/gemini-report/*" -not -path "*/out/*" -not -path "*/.metals/*" -not -path "*/.bloop/*" -not -path "*/venv/*" -not -path "*/.venv/*"'
      nmap <C-P> :FZF<CR>
      autocmd BufEnter * EnableStripWhitespaceOnSave
      autocmd FileType Markdown setlocal spell spelllang=en_au
      set encoding=utf-8
      let mapleader = ","
      imap <silent><script><expr> <Leader><Tab> copilot#Accept("\<CR>")
      let g:copilot_no_tab_map = v:true
      imap <Leader>[ <Plug>(copilot-previous)
      imap <Leader>] <Plug>(copilot-next)
      imap <Leader>. <Plug>(copilot-suggest)
